mixin header(data)
    header.header
        nav.header__nav
            a.header__link(href="#") О компании
            a.header__link(href="#") Новости
            a.header__link(href="#") Услуги
            a.header__link(href="#") Галерея
            a.header__link(href="#") Отзывы
            a.header__link(href="#") Контакты
